{%extends 'base.html'%}
{%block title%}About Us {%endblock title%}
{%block body%}
<main>

        <div class="container-fluid px-0 py-0">
            <img src="/static/Images/20.jpg" class="d-block w-100" alt="...">

        </div>
        <hr>
    <div class="container py-4">
        <div class="p-2 mb-2 bg-light rounded-3">


            <div class="text-center  px-4">
                <h2 class="display-5 text-success fw-bold ">ABOUT US</h2>
                <p><br><br>This is a website for travelers, so the layout is perfect for those who are eager to explore.
                    <br><br>
                    As you scroll down, you discover what Lets explore tours stands for, and their visual aid offers a
                    preview of our services.

                    <br><br>
                    You see everything in one go and decide for yourself what you take on your journey.
                    <br><br>
                    Just bring out some time from your busy lives.
                    <br><br>
                    In any case, every resource becomes an inexhaustible well of travel inspiration.
                    <br><br>
                    So, are you ready to go?</p>
                <button class="btn btn-success" type="button" onclick="location.href='/'">Explore more</button>

            </div>
        </div>


    </div>
</main>
{%endblock body%}